/* * {
  border-style: dotted !important;
  border-width: 1px !important;
  border-color: red !important;
} */

@font-face {
  font-family: "Circular";
  src: url(./Circular/circular-std-medium-500.ttf);
}

body {
  margin: 0;
  font-family: Circular, normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input {
  font-family: Circular, normal;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
